[submodule "Wav-Spec_ADD"]
	path = Wav-Spec_ADD
	url = https://github.com/woongja/Wav-Spec_ADD.git
[submodule "Representation-grounded_XAI"]
	path = Representation-grounded_XAI
	url = https://github.com/woongja/Representation-grounded_XAI.git
